html {
  --lights-on: #f7f9f8;
  --lights-off: #0a0c0c;
}

body {
  margin: 0;
  background-color: var(--lights-on);
  color: var(--lights-off);
}
canvas { width: 100%; height: 100% }

#intro {
  width: 700px;
  height: 700px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  cursor: pointer;
}

#container {
  width: 700px;
  height: 700px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tag {
  position: absolute;
  left: 350px;
  bottom: -25px;
  transform:translate(-50%);
}

#tooltip {
  position: absolute;
  left: 10px;
  bottom:-25px;
}
